@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --Primary: #456ff6;
  --PrimaryDark: #3e63db;
  --PrimaryLight: #6084fb;
  --Secondary: #9719cd;
  --SecondaryGrey: #404040;
  --DarkGreyHeading: #404d61;
  --Dark: #1a1a1a;
  --Light: #f5f7f9;
  --White: #ffffff;
  --Black: #1d1d1d;
  --Blue800: #00204c;
  --InputDefaultBackground: rgba(184, 196, 234, 0.29);
  --Error: red;
  --btn-secondary-bg: #9fb5ef;
  --black: #293338;
  --green: #6ae586;
  --blue: #456ff6;
  --grey: #7e7e7e;
  --tableRowColor: #f6f7fe;
  --boxShadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
  --borderRadius: 10px;
  --dimText: #666771;
  --lightGray: #9297aa;
  --dimBlue: #dee6ff;
  --danger: #ff7676;
}